.App {
  display: flex;
  justify-content: center;
  background: url(./background.svg);
  background-color: #171C29;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
}
